extends layout

block content
    .jumbotron
        .col-sm-8.mx-auto
        h1 MySite
        p Lorem ipsum..
        article Lorem ipsum..
    ul.list-group
        each article, i in articles
            li.list-group-item
                .post-previews
                    h3
                        a(href="/articles/"+ article._id)= article.title
                    - var authorName  = getAuthorName(article.author);
                    .author-muted by #{authorName.charAt(0).toUpperCase() + authorName.slice(1)}
                    .category-muted
                        i(class="glyphicon glyphicon-tag") tag                        
                        i(class="glyphicon glyphicon-time")  date

                        